<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1" [ngBusy]="busy">
      <h2>Add a movie</h2>
      <h2>Add a movie</h2>

      <form >
        <div class="form-group">
          <label for="id">Id</label>
          <input [(ngModel)]="newMovie.id" type="text" class="form-control" name="id" placeholder="id">
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="newMovie.title" type="text" class="form-control" name="title"  placeholder="title">
        </div>
        <div class="form-group">
          <label for="year">Year of release</label>
          <input [(ngModel)]="newMovie.year" type="text" class="form-control" name="year" placeholder="year">
        </div>

        <button *ngIf="clicked" (click)="createMovie()" type="button" class="btn btn-info btn-block">Add a movie</button>

      </form>

    </div>
    <div class="col-md-4">

      <div *ngIf="edited" >
        <h2>The cast </h2>
        <h2>The cast </h2>
        <div class="form-group">
          <select  ngModel="actor" ng-change="addActorToMovies(actor)" >
            <option *ngFor="let item of items" [value]="v">
              {{item}}
            </option>
          </select>
        </div>

        <button *ngIf="clicked" (click)="addActorToMovies(actor)" type="button" class="btn btn-default center-block">Add actor</button>
      </div>
      <div class="form-group">

        <ul>
          <li *ngFor=" let value of values">
            <pre>{{ value}} </pre>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>
